input {
	font-size:16pt;
	text-align:center;
	border-radius:13px;
	border-width:0;
	margin-bottom:22px;
}
#fundsPage button {
	font-size:13pt;
	text-align:center;
	border-radius:13px;
	border-width:0;
	margin-bottom:22px;
	color:white;
	background-color:darkgreen;
	background-image:linear-gradient(rgb(73, 82, 157), rgb(13, 38, 13));
	width:;
	height:28px;

}
